extends layout

block content
    input#search(type="search", placeholder="Search Craig's Jobs")
    ul#results
    
  
    script(src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js")
    script(src="/javascripts/main.js")